@import url("https://fonts.googleapis.com/css?family=Poppins:200,700");

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #b8c6db;
  background: linear-gradient(45deg, #ff4e50, #fc913a, #f9d423, #a8eb12, #50e3c2, #4a90e2, #9013fe);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h2 {
  padding: 1.1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.test_starter {
  padding: 4rem;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.special_button {
  background-color:rgb(21, 180, 180);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  margin-top: 6%;
  padding: 1.3rem;
}

.special_button:hover {
  background-color: darkcyan;
}

.info_button {
  background-color:rgb(21, 180, 180);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.3rem;
}

.info_button:hover {
  background-color: darkcyan;
}

#test_container {
  display: flex;
  justify-content: center;
}

.question_block {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 10px;
}

.button {
  background-color:rgb(21, 180, 180);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: block;
  width: 10%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.3rem;
}

.button:hover {
  background-color: darkcyan;
}

.results {
  padding: 4rem;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 450px;
  height: 610px;
  max-width: 100%;
}

.full_results {
  padding: 4rem;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
}

.info {
  padding: 4rem;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  100% {
      opacity: 1;
  }
}

@keyframes fade-out {
  0% {
      opacity: 0;
  }
}

@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#back_button_pie {
  background-color:rgb(21, 180, 180);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.3rem;
}
