<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>True Colors Personality Test</title>
</head>
<body>

<!-- Test start panel, only thing that should be displayed when test begins -->
<div class="test_starter fade-in" id="start_panel">

    <h2 id="test_title">True Colors Personality Test</h2>
    <!-- Instructions for the test -->
    <p>In each section of the test, you will rank four groups of words based on how much you think they describe you.</p>
    <p>Read each of the words and decide which group describes you best. Give that group a 4.</p>
    <p>Then rank the next three groups from 3 to 1 by descending preference. Each group MUST be ranked before moving on 
        to the next section, with 4 meaning "the most like you" to 1 meaning "the least like you."</p>
    <p>After each group has been ranked, press the "next" button to continue this process with the next set of words until the test is complete.</p>
    <em><strong>Make sure your decisions are final before proceeding to the next section.</em></strong>
    <!-- "Begin Test" button-->
    <button type="button", class="special_button" id="start_button">Begin Test</button>

</div>

<!-- Container div for current questions, displays after test begins -->
<div id="test_container">

    <button class="button" id="back_button">View Instructions</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="letter_1">Letter</h2>

            <input type="radio" name="answer" class="answer" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answer" class="answer" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answer" class="answer" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answer" class="answer" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li id="a_word_1">MY_WORD</li>
            <li id="a_word_2">MY_WORD</li>
            <li id="a_word_3">MY_WORD</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="letter_2">Letter</h2>

            <input type="radio" name="answerB" class="answer" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerB" class="answer" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerB" class="answer" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerB" class="answer" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li id="b_word_1">MY_WORD</li>
            <li id="b_word_2">MY_WORD</li>
            <li id="b_word_3">MY_WORD</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="letter_3">Letter</h2>

            <input type="radio" name="answerC" class="answer" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerC" class="answer" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerC" class="answer" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerC" class="answer" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li id="c_word_1">MY_WORD</li>
            <li id="c_word_2">MY_WORD</li>
            <li id="c_word_3">MY_WORD</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="letter_4">Letter</h2>

            <input type="radio" name="answerD" class="answer" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerD" class="answer" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerD" class="answer" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerD" class="answer" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li id="d_word_1">MY_WORD</li>
            <li id="d_word_2">MY_WORD</li>
            <li id="d_word_3">MY_WORD</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button">Next</button>
   
</div>

<!-- Results panel, appears once test is completed -->
<div class="results fade-in" id="results_panel">

    <h2 id="results_title">Your True Color is...</h2>
    <!-- Color result goes here -->
    <h2 id="user_result">MY_COLOR_HERE</h2>
    <!-- "Learn More" button-->
    <button type="button", class="special_button" id="info_button">Learn more about your color!</button>
    <!-- "Retake Test" button-->
    <button type="button", class="special_button" id="retake_button">Retake Test</button>

</div>

<!-- Info panel that describes what the user's color means -->
<div class="info fade-in" id="info_panel">
    <!-- Color description goes here -->
    <p id="user_description">MY_DESCRIPTION_HERE</p>
    <button class="special_button" id="back_button_info">Back</button>
</div>

</body>

<script src="/static/app.js"></script>

</html>
