<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>True Colors Personality Test</title>
</head>
<body>

<!-- Test start panel, only thing that should be displayed when test begins -->
<div class="test_starter fade-in" id="start_panel">

    <h2 id="test_title">True Colors Personality Test</h2>
    <!-- Instructions for the test -->
    <p>In each section of the test, you will rank four groups of words based on how much you think they describe you.</p>
    <p>Read each of the words and decide which group describes you best. Give that group a 4.</p>
    <p>Then rank the next three groups from 3 to 1 by descending preference. Each group MUST be ranked before moving on 
        to the next section, with 4 meaning "the most like you" to 1 meaning "the least like you."</p>
    <p>After each group has been ranked, press the "next" button to continue this process with the next set of words until the test is complete.</p>
    <em><strong>To view the definition of a word, hover your cursor over it.</em></strong>
    <!-- "Begin Test" button-->
    <button type="button", class="special_button" id="start_button">Begin Test</button>

</div>

<!-- 1st container div for current questions, displays after test begins -->
<div id="test_container">

    <button class="button" id="back_button">Back</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="question">Letter A</h2>

            <input type="radio" name="answerA" class="answerA" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerA" class="answerA" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerA" class="answerA" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerA" class="answerA" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Engaging or ready to engage in physically energetic pursuits.">Active</li>
            <li title="Definition: Exploiting chances offered by immediate circumstances without reference to a general plan or moral principle.">Opportunistic</li>
            <li title="Definition: (Of a person) Having an open, natural, and uninhibited manner.">Spontaneous</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter B</h2>

            <input type="radio" name="answerB" class="answerB" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerB" class="answerB" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerB" class="answerB" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerB" class="answerB" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: To be parent-like in nature.">Parental</li>
            <li title="Definition: (Of a person) Adhering to tradition, or to a particular tradition.">Traditional</li>
            <li title="Definition: Capable of being trusted.">Responsible</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter C</h2>

            <input type="radio" name="answerC" class="answerC" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerC" class="answerC" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerC" class="answerC" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerC" class="answerC" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Of undisputed origin; genuine.">Authentic</li>
            <li title="Definition: Free from disagreement or dissent.">Harmonious</li>
            <li title="Definition: Feeling or showing sympathy and concern for others.">Compassionate</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter D</h2>

            <input type="radio" name="answerD" class="answerD" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerD" class="answerD" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerD" class="answerD" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerD" class="answerD" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Able to adapt or be adapted to many different functions or activities.">Versatile</li>
            <li title="Definition: Having the ability to create or design new things or to think originally.">Inventive</li>
            <li title="Definition: Having the necessary ability, knowledge, or skill to do something successfully.">Competent</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button">Next</button>
   
</div>

<!-- 2nd container div for current questions -->
<div id="test_container_2">

    <button class="button" id="back_button_2">Back</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="question">Letter E</h2>

            <input type="radio" name="answerE" class="answerE" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerE" class="answerE" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerE" class="answerE" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerE" class="answerE" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Eager to know or learn something.">Curious</li>
            <li title="Definition: Relating to or based on mental concepts; a thinker.">Conceptual</li>
            <li title="Definition: Intelligent and well informed.">Knowledgeable</li>
        </ul>

       

    </div>

    <div class="question_block">

        <h2 id="question">Letter F</h2>

            <input type="radio" name="answerF" class="answerF" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerF" class="answerF" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerF" class="answerF" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerF" class="answerF" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Being the only one of its kind; unlike anything else.">Unique</li>
            <li title="Definition: Showing an ability to understand and share the feelings of another.">Empathetic</li>
            <li title="Definition: Ready to talk or impart information.">Communicative</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter G</h2>

            <input type="radio" name="answerG" class="answerG" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerG" class="answerG" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerG" class="answerG" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerG" class="answerG" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: (Of a person) Sensible and realistic in their approach to a situation or problem.">Practical</li>
            <li title="Definition: (Of a person) Possessing or displaying reason.">Sensible</li>
            <li title="Definition: Trustworthy and reliable.">Dependable</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter H</h2>

            <input type="radio" name="answerH" class="answerH" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerH" class="answerH" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerH" class="answerH" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerH" class="answerH" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Eager to be more successful than other people.">Competitive</li>
            <li title="Definition: Acting or done quickly and without thought or care.">Impetuous</li>
            <li title="Definition: Having a major impact or effect.">Impactful</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button_2">Next</button>

</div>

<!-- 3rd container div for current questions -->
<div id="test_container_3">

    <button class="button" id="back_button_3">Back</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="question">Letter I</h2>

            <input type="radio" name="answerI" class="answerI" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerI" class="answerI" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerI" class="answerI" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerI" class="answerI" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Giving or showing firm and constant support or allegiance to a person or institution.">Loyal</li>
            <li title="Definition: Against change or innovation and holding traditional values.">Conservative</li>
            <li title="Definition: Having one's affairs in order so as to deal with them efficiently.">Organized</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter J</h2>

            <input type="radio" name="answerJ" class="answerJ" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerJ" class="answerJ" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerJ" class="answerJ" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerJ" class="answerJ" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Very loving or loyal.">Devoted</li>
            <li title="Definition: Having, showing, or expressive of enthusiasm, affection, or kindness.">Warm</li>
            <li title="Definition: Having an imaginative or sensitively emotional style of expression.">Poetic</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter K</h2>

            <input type="radio" name="answerK" class="answerK" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerK" class="answerK" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerK" class="answerK" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerK" class="answerK" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Having or showing a sensible and practical idea of what can be achieved or expected.">Realistic</li>
            <li title="Definition: Willing to consider new ideas; unprejudiced.">Open-minded</li>
            <li title="Definition: Given to adventures or to running risks; adventurous.">Adventuresome</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter L</h2>

            <input type="radio" name="answerL" class="answerL" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerL" class="answerL" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerL" class="answerL" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerL" class="answerL" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Concerned with or involving the theory of a subject or area of study rather than its practical application.">Theoretical</li>
            <li title="Definition: Attempt or desire to obtain or achieve.">Seeking</li>
            <li title="Definition: Having or showing an unusual aptitude for discovering, inventing, or contriving. ">Ingenious</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button_3">Next</button>

</div>

<!-- 4th container div for current questions -->
<div id="test_container_4">

    <button class="button" id="back_button_4">Back</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="question">Letter M</h2>

            <input type="radio" name="answerM" class="answerM" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerM" class="answerM" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerM" class="answerM" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerM" class="answerM" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Worried, troubled, or anxious.">Concerned</li>
            <li title="Definition: Relating to an established or official way of doing something.">Procedural</li>
            <li title="Definition: Involving mutual assistance in working toward a common goal.">Cooperative</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter N</h2>

            <input type="radio" name="answerN" class="answerN" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerN" class="answerN" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerN" class="answerN" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerN" class="answerN" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Adventurous or audaciously bold.">Daring</li>
            <li title="Definition: Acting or done without thought.">Impulsive</li>
            <li title="Definition: Amusing, entertaining, or enjoyable.">Fun</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter O</h2>

            <input type="radio" name="answerO" class="answerO" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerO" class="answerO" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerO" class="answerO" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerO" class="answerO" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Showing gentleness and concern or sympathy.">Tender</li>
            <li title="Definition: Providing or showing creative or spiritual inspiration.">Inspirational</li>
            <li title="Definition: Talking or behaving in a way that makes something seem much worse, more serious, or more frightening than it really is.">Dramatic</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter P</h2>

            <input type="radio" name="answerP" class="answerP" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerP" class="answerP" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerP" class="answerP" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerP" class="answerP" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Having made a firm decision and being resolved not to change it.">Determined</li>
            <li title="Definition: Having many parts, details, ideas, or functions often related in a complicated way.">Complex</li>
            <li title="Definition: Having one's feelings and expression under control; calm.">Composed</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button_4">Next</button>

</div>

<!-- Final container div for current questions -->
<div id="test_container_5">

    <button class="button" id="back_button_5">Back</button>

    <!-- Each question block has a header, option buttons, and group of words -->

    <div class="question_block">
        
        <h2 id="question">Letter Q</h2>

            <input type="radio" name="answerQ" class="answerQ" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerQ" class="answerQ" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerQ" class="answerQ" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerQ" class="answerQ" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Having or showing a calm attitude toward disappointments or difficulties.">Philosophical</li>
            <li title="Definition: Acting in accordance with morality and showing recognition of right and wrong.">Principled</li>
            <li title="Definition: Based on or in accordance with reason or logic.">Rational</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter R</h2>

            <input type="radio" name="answerR" class="answerR" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerR" class="answerR" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerR" class="answerR" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerR" class="answerR" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Attractively lively and animated.">Vivacious</li>
            <li title="Definition: Readily feeling or showing fondness or tenderness.">Affectionate</li>
            <li title="Definition: Feeling, showing, or expressing sympathy for others.">Sympathetic</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter S</h2>

            <input type="radio" name="answerS" class="answerS" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerS" class="answerS" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerS" class="answerS" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerS" class="answerS" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Causing great enthusiasm and eagerness.">Exciting</li>
            <li title="Definition: Not deterred by danger or fear; brave.">Courageous</li>
            <li title="Definition: Having the training, knowledge, and experience that is needed to do something well.">Skillful</li>
        </ul>

    </div>

    <div class="question_block">

        <h2 id="question">Letter T</h2>

            <input type="radio" name="answerT" class="answerT" id="4">
            <label for="4" id="four_button">4</label>
            
            <input type="radio" name="answerT" class="answerT" id="3">
            <label for="3" id="three_button">3</label>
            
            <input type="radio" name="answerT" class="answerT" id="2">
            <label for="2" id="two_button">2</label>
            
            <input type="radio" name="answerT" class="answerT" id="1">
            <label for="1" id="one_button">1</label>

        <ul>
            <li title="Definition: Neatly and methodically arranged.">Orderly</li>
            <li title="Definition: Normal, ordinary, and following the accepted way.">Conventional</li>
            <li title="Definition: Displaying kindness and concern for others.">Caring</li>
        </ul>
        
    </div>

    <button class="button" id="submit_button_5">Submit Response</button>

</div>

<!-- Results panel, appears once test is completed -->
<div class="results fade-in" id="results_panel">

    <h2 id="results_title">Your True Color is...</h2>
    <!-- Color result goes here -->
    <h2 id="user_result">MY_COLOR_HERE</h2>
    <!-- "Learn More" button-->
    <button type="button", class="special_button" id="info_button">Learn more about your color!</button>
    <!-- "Retake Test" button-->
    <button type="button", class="special_button" id="retake_button">Retake Test</button>

</div>

<div class="info fade-in" id="info_panel">
    <!-- Color description goes here -->
    <p id="user_description">MY_DESCRIPTION_HERE</p>
    <button class="special_button" id="back_button_info">Back</button>
</div>

</body>

<script src="/static/app.js"></script>

</html>
